# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store

# Flutter / Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
pubspec.lock
**/*.js_
**/*.js_map
**/*.js.deps

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Databases
db_data/
local_db/

# IDE
.vscode/
.idea/
*.iml
*.iws

# Cloudflared
cloudflared.log
